td {
    text-align: center;
    font-size: 2rem;
}

.prompt {
    background-color: #e9ecef;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    top: 10px;
    left: 50px;
    font-size: 2rem;
    padding-left: 20px;
}

._hide {
    display: none;
}

/**
    fix click for apple devices
*/
.container * { cursor: pointer }

.help_navigation_js {
    position: fixed;
    top: top;
    left: 50 px;
}